<!-- templates/ansade_app/application_page.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}AnsadeApp{% endblock %}</title>
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Ajoutez ici vos liens vers les fichiers CSS externes ou CDN, si nécessaire -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <style>
        /* Ajoutez vos styles personnalisés ici */
        body {
            font-family: 'Open Sans', sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
            width: 100%;
        }
    </style>
</head>
<body>
    <!-- Barre de navigation commune à toutes les pages -->
        <header class="absolute inset-x-0 top-0 z-50">
          <nav class="bg-white flex items-center justify-between p-4 lg:px-8 rounded-xl drop-shadow-md" aria-label="Global">
            <div class="flex lg:flex-1">
                <span class="sr-only">ANSADE</span>
                <img class="h-8 w-auto" src="{% static 'ansade_img.png' %}" alt="">
              </a>
            </div>
            <div class="flex lg:hidden">
              <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </button>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
              <a href="{% url 'produit_list' %}" class="bg-[#067610] text-white rounded-xl px-3 py-2 text-sm font-medium font-semibold leading-6 text-gray-900 hover:bg-[#056a0e]">Produits</a>
              <a href="{% url 'familleproduit_list' %}" class="bg-[#067610] text-white rounded-xl px-3 py-2 font-medium text-sm font-semibold leading-6 text-gray-900 hover:bg-[#056a0e]">Familles de produit</a>
              <a href="{% url 'panier_list' %}" class="bg-[#067610] text-white rounded-xl px-3 py-2 font-medium text-sm font-semibold leading-6 text-gray-900 hover:bg-[#056a0e]">Paniers</a>
              <a href="{% url 'pointdevente_list' %}" class="bg-[#067610] text-white rounded-xl px-3 py-2 font-medium text-sm font-semibold leading-6 text-gray-900 hover:bg-[#056a0e]">Point de vente</a>
              <a href="{% url 'prix_list' %}" class="bg-[#067610] text-white rounded-xl px-3 py-2 font-medium text-sm font-semibold leading-6 text-gray-900 hover:bg-[#056a0e]">Prix</a>
              <a href="{% url 'Panier_Produit_list' %}" class="bg-[#067610] text-white rounded-xl px-3 py-2 font-medium text-sm font-semibold leading-6 text-gray-900 hover:bg-[#056a0e]">Produit de panier</a>
            </div>
            <div class="hidden lg:flex lg:flex-1 lg:justify-end">   
            </div>
          </nav>
        </header>
        <!-- Contenu spécifique à chaque page -->
        <!-- <div class="w-full relative isolate px-6 pt-0 lg:px-3">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
              <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
        </div> -->

        

    {% block content %}{% endblock %}
    <!-- Ajoutez ici vos scripts JavaScript externes ou CDN, si nécessaire -->

</body>
</html>

