<!-- templates/ansade_app/panier_produit_form.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h1>{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} un produit de panier</h1>
    <form method="post" class="form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
    <a href="{% url 'Panier_Produit_list' %}" class="btn btn-secondary">Annuler</a>
  </div>
{% endblock %}
