<!-- ansade_app/prix_detail.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h1>Détails du prix</h1>
    <p><strong>Montant:</strong> {{ prix.montant }}</p>
    <p><strong>Produit:</strong> {{ prix.produit }}</p>
    <p><strong>Point de vente:</strong> {{ prix.point_vente }}</p>
    <p><strong>Date de validité:</strong> {{ prix.date_validite }}</p>
    <a href="{% url 'prix_list' %}" class="btn btn-secondary">Retour à la liste des prix</a>
  </div>
{% endblock %}
